#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.glyphicon-star{
    color: yellow;
} 
html{
    scroll-behavior: smooth;
}
#dd_a{
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#movie_icon{
    margin-left: 15px;
    margin-right: 8px;
    margin-top: 8px;
}
#avengers_label{
    font-size: 25px;
}
#dd_icon{
    margin-left: 950px;
}
.e_li{
    margin: 20px;
}
.img_modal{
    display: block;
}
.modal-content{
    margin-top: 100px;
}
.modal-body{
    text-align: center;
}